@{
    ViewData["Title"] = "Menu Principal";
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<p>@ViewBag.Nome</p>
<div class="text-center">
    <h1 class="display-4"><i class="fa fa-user"></i>&nbsp;Bem Vindo</h1>
    <p>Projeto basico desenvolvido em:</p>

    <p><i class="fa fa-pen-alt"></i>&nbsp;Asp.net core 3.1 MVC</p>
    <p><i class="fa fa-pen-alt"></i>&nbsp;EntityFrameworkCore</p>
    <p><i class="fa fa-pen-alt"></i>&nbsp;Banco de dados MYSQL</p>

</div>
